:root {
    --font-size: 2rem;
    --base-color: #fff;
    --secondary-color: #000;
    --accent-color: #ffff00;
    --border: 1px solid var(--secondary-color);
    box-sizing: border-box;
}

}

body {
    background-color: var(--background-color);
    font-size: var(--font-size);
}

#gameboard {
    display: grid;
    width: 500px;
    height: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

#gameboard div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--border);
}