:root {
    --font-size: 2rem;
    --base-color: #fff;
    --secondary-color: #000;
    --accent-color: #ffff00;
    --border: 1px solid var(--secondary-color);
    box-sizing: border-box;
}

@font-face {
    font-family: anton;
    src: url(fonts/Anton/Anton-Regular.ttf);
}

@font-face {
    font-family: roboto;
    src: url(fonts/Roboto/Roboto-Black.ttf)
}

h1, p {
    margin-block-start: 0;
    margin-block-end: 0;
}

h1 {
    font-family: anton, sans-serif;
    color: var(--secondary-color);
    align-self: flex-start;
    position: absolute;
    top: 0;
    left: 1rem;
    margin-left: 0;
    text-decoration: underline;
    text-decoration-color: var(--accent-color);
    text-decoration-thickness: 1rem;
    letter-spacing: 0.5rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
}

body {
    background-color: var(--base-color);
    color: var(--secondary-color);
    font-size: var(--font-size);
    font-family: roboto, sans-serif;
}

#gameboard {
    display: grid;
    width: 500px;
    height: 500px;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    grid-template-rows: repeat(3, minmax(150px, 1fr));
    margin: 1rem;
}

#gameboard div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--border);
    font-size: 80px;
}

#gameboard div:hover, .winning-column {
    background-color: var(--accent-color)
}

button:hover, #gameboard div:hover {
    transition-duration: 1s;
}

button {
    appearance: none;
    font-size: 100%;
    margin: 0;
    width: 10rem;
    padding: 5px;
    height: 50px;
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
    background-color: var(--base-color);
    font-family: inherit;
    box-shadow: 3px 3px 0px 3px var(--secondary-color);
}

button:hover {
    background-color: var(--accent-color);
}

button:active {
    background-color: rgb(207, 207, 23);
    transition-duration: 0ms;
}